
h1 {
  margin-left: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  animation-name: Test;
}

@keyframes Test {
  from {color:red}
  to {color:#1025e0}
}



img {
  opacity: 0.8;
  border-style: dotted;
}

a{
  font-weight:bold;
}

p{
  font-weight:normal;
}

address{
  border-style:double
}

details{
  border: 3px solid #1025e0;
}

ul li{
  list-style-type: square;
}

div{
  border-style:double;
  border-color:red;
  border-radius: 20px;
}

.fontTest {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.aboutpagetop{
  color:purple
}

.mid{
  display: flex;
  justify-content: center;
  align-items: center;
}